body{
    font-family: Helvetica;
    font-weight: 100;
    margin: 0px;
}
.appContainer{
    height: 80%;
}


.nav{
    height: 70px;
    /*margin: 10px 20px 10px 20px;*/
}
.nav button {
    background: white;
    border: none;
    border-radius: 4px;
    color: #454748;
    margin: 15px 10px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}
.nav button:focus{
    outline: none;
}
.content{
}

.content::after{
    content: '\00a0';
    display: block;
    margin-top: 1.5em;
    height: 0;
    visibility: hidden;
}

header{
    padding: 10px;
    height: 300px;
    font-size: 13px;
    text-align: center;
}

header .greeting{
    font-size: 40px;
}
header img{
    height: 200px;
    border-radius: 100px;
    text-align: center;
}


.headerSection .aboutmetext{
    font-size: 17px;
    padding-top: 10px;
}

.headerSection .braces {
    font-size: 100px;
    font-family: MONOSPACE;
    color: #0EE1EF
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.educationSection{
    text-align: left;;
}
.educationSection .degreeTitle{
    font-weight: bold;
    font-size: 15px;
}
.workSection{
    text-align: left;
}
