<header>

    <div class="container">
        <div class="row headerSection">
            <div class="col-md-12 center card">
                <img src="../../../assets/images/profilePic.jpg"/>

                <div class="greeting"> I'm Shrinidhi Joshi </div>
                <div class="aboutmetext"> I build web-apps in Javascript/HTML/CSS and Java. Love designing systems at scale </div>
            </div>

        </div>
        <div class="row card">
            <div class="col-md-5 educationSection ">
                <h3>
                    Education
                </h3>
                <div class="row itemDesc">

                    <div class="col-md-1">
                        <img  class="glyph" src="../../../assets/images/graduation_cap.png"/>
                    </div>
                        <div class="col-md-10">
                        <div class="degreeTitle col-md-" >
                            B. Tech in CSE, National Institute of Technology, Karnataka,
                            India
                        </div>
                        <div class="degreeDescription">
                            Majored in Computer Science and Engineering.
                            CGPA: 7.99
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-7 workSection ">
                <h3>
                    Work Experience
                </h3>

                <div class="row itemDesc">

                    <div class="col-md-1">
                        <img  class="glyph" src="../../../assets/images/developer.png"/>
                    </div>
                    <div class="col-md-10">
                        <div class="degreeTitle col-md-" >
                            Software Engineer 2,
                            QuickBooks Online, Intuit,Inc.
                        </div>
                        <div class="degreeDescription">
                            Developed and work on front-end initiatives using a home-grown MVC framework written in DOJO.

                        </div>
                    </div>
                </div>



                <div class="row itemDesc">

                    <div class="col-md-1">
                        <img  class="glyph" src="../../../assets/images/researcher.jpg"/>
                    </div>
                    <div class="col-md-10">
                        <div class="degreeTitle col-md-" >
                            Research Intern,
                            Indian Institute of Science, Bangalore
                        </div>
                        <div class="degreeDescription">
                            stuff i did there
                        </div>
                    </div>
                </div>


                <div class="row itemDesc">

                    <div class="col-md-1">
                        <img  class="glyph" src="../../../assets/images/developer.png"/>
                    </div>
                    <div class="col-md-10">
                        <div class="degreeTitle col-md-" >
                            Software Engineer Intern,
                            IBM Linux Technology Center, Bangalore
                        </div>
                        <div class="degreeDescription">
                            stuff i did there

                        </div>
                    </div>
                </div>

            </div>


        </div>



        <div class="row card">

        </div>
    </div>

</header>
