<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/emailcomponent.css"/>
    </head>
    <body>

        <div class="emailComposer" id="emailComposer">
            <div class="toAddress" id="toAddress">
                <input type="text" id="toAddressInput"></input>
            </div>
            <div class="subject"> </div>
            <div class="body"> </div>
        </div>

        <script type="text/javascript" src="js/emailcomponent.js"> </script>

    </body>
</html>
